body{
    font-family: Arial, Helvetica, sans-serif;
}

textarea {
    min-height: 400px;
}

.alert{
    text-align: center;
}

.email{
    display: flex;
    flex-flow: row wrap;
    border: 2px black solid;
    width: 100%;
    height: 40px;
    margin: 1px;
}

.email:hover {
    cursor: pointer;
}

.date{
    width: 10%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.email_sender{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 20%;
    height: 100%;
}

.email_content_inbox{
    flex: 1;
    min-width: 0;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: calc(70%);
    height: 100%;
}

.email_subject{
    padding-right: 10px;
    width: fit-content;
    font-weight: 400;
    height: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.elipsed{
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.small_text{
    font-size: 10px;
}

#email-view{
    display: flex;
    flex-flow: row wrap;
    width: 100%;
}

.email-info{
    width: 50%;
    height: auto;
}

.email-archv{
    width: 50%;
    display: flex;
    justify-content: flex-end;
}

.mail-desc{
    width: 100%;
    display: flex;
    flex-flow: row wrap;
}

.arch_button {
    background-color: #4285F4;
    height: 50%;
    width: 15%;
}

.mail-body{
    width: 100%;
    margin-top: 20px;
    border-top: 1px lightgray solid;
    padding-top: 20px;
    display: flex;
    flex-direction: column;
    word-wrap: break-word;
}